body, #root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-container {
    
}

.auth-background{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}